.u-section-1 .u-sheet-1 {
  min-height: 2005px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 19px;
  margin-bottom: -38px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 1952px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 15px;
}

.u-section-1 .u-image-1 {
  height: 360px;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-4 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-5 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 15px;
}

.u-section-1 .u-image-4 {
  height: 360px;
  object-position: 50% 12.91%;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-5 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-8 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-9 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 15px;
}

.u-section-1 .u-image-7 {
  height: 360px;
  object-position: 50% 14.52%;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-8 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-12 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-13 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 18px 15px;
}

.u-section-1 .u-image-10 {
  height: 360px;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-11 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-16 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-17 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 15px;
}

.u-section-1 .u-image-13 {
  height: 360px;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-14 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-20 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-15 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-21 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 18px 15px;
}

.u-section-1 .u-image-16 {
  height: 360px;
  object-position: 50% 0%;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-17 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-24 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-18 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-25 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 18px 15px;
}

.u-section-1 .u-image-19 {
  height: 360px;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-20 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-28 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-21 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-29 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 18px 15px;
}

.u-section-1 .u-image-22 {
  height: 360px;
  margin: 1px 15px 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 6px 15px 0;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  margin: 12px 15px 0;
}

.u-section-1 .u-image-23 {
  --radius: 10px;
  width: 44px;
  height: 44px;
  margin: 40px 265px 0 35px;
}

.u-section-1 .u-text-32 {
  margin: -37px 0 0 83px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-24 {
  width: 52px;
  height: 52px;
  margin: 19px 261px 0 31px;
}

.u-section-1 .u-text-33 {
  margin: -40px 0 0 83px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-bottom: -93px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1390px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 362px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -310px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-4 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-7 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-10 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-13 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-16 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-19 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-22 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2145px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-image-16 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-image-19 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-image-22 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4649px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-22 {
    height: 534px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3312px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 124px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-4 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-7 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-10 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-13 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-16 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-18 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-19 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-21 {
    margin-right: 249px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-22 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-23 {
    margin-right: 253px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-24 {
    margin-right: 249px;
    margin-left: 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 491px;
}