 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 774px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 233px 0 256px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 73px -15px 38px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 592px;
  grid-gap: 50px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 2px -2px 0 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  background-image: none;
  margin: 49px auto 0 8px;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 2px -2px 0 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 49px auto 0 8px;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 2px -2px 0 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 49px auto 0 8px;
  padding: 18px 30px 19px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 26px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 2px -2px 0 10px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 49px auto 0 8px;
  padding: 18px 30px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 133px;
    margin-left: 156px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 493px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 23px;
    margin-left: 46px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 678px;
    grid-auto-columns: calc(50% - 25px);
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.0625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
  }
}